django>=4.0.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
psycopg2-binary
gunicorn==21.2.0
whitenoise
requests
python-decouple
Pillow==10.0.1
django-extensions==3.2.3
redis==5.0.1
django-redis==5.4.0
celery==5.3.4